# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test and coverage outputs
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# Logs
*.log

# Environment variables
.env
.env.*

# Python egg files
*.egg
*.egg-info/